extends layout

block head
  link(rel='stylesheet', href='/stylesheets/server_metrics.css')

block content
  h1(id='server-metrics-title') Server Metrics for #{server} on #{date} 

  #cpu-metrics
  #mem-metrics
  #disk-metrics
  #netIn-metrics
  #netOut-metrics

block footer
  script(src='/javascripts/server_metrics.js')
  script(src='/flot/jquery.flot.js')
  script(src='/flot/jquery.flot.time.js')
  script(src='/flot/jquery.flot.selection.js')
  script(src='/flot/jquery.flot.crosshair.js')
  script(src='/javascripts/plot_graph.js')

  script.
    PLOT_GRAPH.plot(#{cpuMetrics},'#cpu-metrics','CPU Utilisation (%)','#5555AA');
    PLOT_GRAPH.plot(#{memMetrics},'#mem-metrics','Memory Utilisation (%)','#55AA55');
    PLOT_GRAPH.plot(#{diskMetrics},'#disk-metrics','Disk Utilisation (IO/sec)','#AA5555');
    PLOT_GRAPH.plot(#{netInMetrics},'#netIn-metrics','Network Traffic In (packets/sec)','#676767');
    PLOT_GRAPH.plot(#{netOutMetrics},'#netOut-metrics','Network Traffic Out (packets/sec)','#5A5AA5');